/**
 * All of the CSS for public-facing functionality should be
 * included in this file.
 */
 
 #tigerton-ie-checker-popup-bg{
	position: fixed;
	top: 		0;
	bottom: 	0;
	left: 		0;
	right: 		0;
	
	background: rgba(0, 0, 0, 0.5);
	
	width: 100vw;
	height: 100vh;
	
	color: black;
	z-index: 9999;
 }
 
 #tigerton-ie-checker-popup-inner{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	
	border: 1px solid transparent;
	border-radius: 8px;
	
	padding: 20px;
	background: rgb(255, 255, 255);
	
	min-width: 100px;
	min-height: 100px;
 }
 
 #tigerton-ie-checker-popup-button{
	position: absolute;
	top: 2px;
	right: 2px;
	
	border: 1px solid transparent;
	border-radius: 100%;
	
	background: rgb(128, 128, 128);
 }
